<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>ClassLoaderFilter</filter-name>
        <filter-class>fx.server.classloader.ClassLoaderFilter</filter-class>
        <init-param>
            <param-name>class-loder-url</param-name>
            <param-value>/fxcl</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ClassLoaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ClassLoaderServlet</servlet-name>
        <servlet-class>fx.server.classloader.ClassLoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassLoaderServlet</servlet-name>
        <url-pattern>/fxcl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name>
        </auth-constraint>
        <user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <description/>
        <role-name>tomcat</role-name>
    </security-role>
</web-app>
